/* Write your CSS here */
* {
  list-style-type: none;
}
.todoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-btn {
  background-color: white;
  color: red;
  border: 2px red solid;
  cursor: pointer;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 14px;
  height: 25px;
  width: 60px;
  outline: none;
}
.description {
  font-size: 20px;
  width: 70%;
  color: #000000;
  font-weight: 550;
  opacity: 0.9;
}
@media screen and (min-width:768px){
  .description{
    font-size: 30px;
    width: 80%;
  }
}